<%# views/index.ejs %>
  <% extend('layout') %>
    <!-- Hero content: will be in the middle -->
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="./img/ultranet-logo.png" alt="ultranet logo">
        </div>
      </div>
    </section>