<%# views/index.ejs %>
  <% extend('layout') %>
    <!-- Hero content: will be in the middle -->
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="./img/ultranet-logo.png" alt="ultranet logo">
        </div>
      </div>
    </section>
    <footer class="footer is-fixed-bottom">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Registered users:
            <%= count %>
          </p>
          <p><span class="icon is-small"><i class="mdi mdi-copyright"></i></span><span> Ultranet - 2017 | All right reserved</span></p>
        </div>
      </div>
    </footer>