 
<%# views/index.ejs %>
 <% extend('layout') %>
    <section class="hero is-fullheight is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h3 class="title is-2">
            Hey! <%= count %>
          </h3>
        </div>
      </div>
    </section>

