<% extend('layout') %>

  <section class="hero is-primary">
    <h1 class="title">Modules</h1>
    <dic class="container">
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < fakedata.length; i++) { %>
            <tr>
              <td>
                <%= fakedata[i].subject %>
              </td>
              <td>
                <%= fakedata[i].teacher %>
              </td>
              <td>
                <p class="field">
                  <a class="button is-small <%=(fakedata[i].state== true) ? " is-success " : "is-danger " %>">
                    <span class="icon is-small">
                      <i class="mdi mdi-plus"></i>
                    </span>
                  </a>
                </p>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </dic>
  </section>