<% extend('layout') %>
  <section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Profile</h1>
      </div>
    </div>
  </section>